body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    width: 80%;
    margin-left: 10%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-logo {
    max-height: 50px;
    margin-bottom: 10px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#titles{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-section {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    text-decoration: none;
    color: #333;
}

.footer-section p, .footer-section a {
    color: #333;
    margin: 5px 0;
}

.footer-bottom {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom p {
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    color: #f26b3a;
}


